

.home__header, .home__footer {
    width: 100%;
}

.nav__link {
    color: black; /* Default text color */
    transition: color 0.3s;
}

.nav.scrolled .nav__link:hover {
    color: #E6007E; /* Hover text color when scrolled */
}


.form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color:#E6007E;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input, .form-group select, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 40px;
    box-sizing: border-box;
}

.form-group input[type="file"] {
    padding: 3px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #E6007E;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.form-group button:hover {
    background-color: #000000;
}


